/* Style the video: 100% width and height to cover the entire window */
video{
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-width: 100%;
}

.darkText{
 color: rgb(41, 41, 41);
 border: 0.5px;
border-color:white ;
}
.lightText{
color: rgb(255, 255, 255);
border: 0.5px;
border-color:black ;
}
